@charset "UTF-8";

body {
  font-family: 'Inter', sans-serif;
}


.about {
    max-width: 100%;
    min-height: max-content;
    /* background-color: #ffffff; */

    /* color: #1A1A1A; */
    /* padding: 2rem; */
    border-radius: 1rem;
    /* border: 1px solid #e0e1e4; */
    position: relative;
    padding: 8rem 0rem;

    
}



.title {
    font-weight: 600;
}

.about__proposal {
    width: 85%;
    padding: 3rem 3rem 8rem 5rem;
    border-radius: 5rem;
    display: flex;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    /* background-image: conic-gradient(#55688a, #16233a);  */
    /* background-color: #ffffff2c; */
    margin: 0 auto;
    /* border-left: 0.4rem solid #EC5E23;
    border-right: 0.4rem solid #3a71af; */


}


.about__proposal-title-and-descr {

    width: 100%;
    padding: 10rem 5rem;
    border-radius: 5rem;
    display: flex;
    height: max-content;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    /* background-image: conic-gradient(#55688a, #16233a);  */
    background-color: #ffffff2c;
    margin: 0 auto;
    border-left: 0.4rem solid #EC5E23;
    border-right: 0.4rem solid #3a71af;
    margin-bottom: 5rem;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba(76, 221, 168, 0.25); 
  
}

.about__proposal-title-and-descr::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background: radial-gradient(circle at top left, #2af59855, #00c9a73f, transparent 90%);
  z-index: -1;
  filter: blur(25rem);
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.benefit-item {
    background-color: #ffffff2c;
    /* border: 0.1rem solid #3a71af; */
    border-left: 0.2rem solid #EC5E23;
    /* border-right: 0.4rem solid #3a71af; */
    
    padding: 10rem 5rem;
    border-radius: 5rem;
    position: relative;
    box-shadow: 0 1rem 2rem rgba(76, 221, 168, 0.25); 
}


.benefit-item::before {
    content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  z-index: -1;
  filter: blur(4rem);
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  background: radial-gradient(circle at top left, #2af59855, #00c9a73f, transparent 90%);
}







.about__title {
    font-size: 7rem;
    margin-bottom: 2rem;
    text-align: left;
    color: #EC5E23;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
}

.about__title span {
  color: #149ddd;
  text-transform: none;
}

  

.about__descr-me {
    font-size: 3rem;
    width: 100%;
    color: #ffffff;
    text-align: left;
    line-height: 4rem;
    margin-bottom: 3rem;
}

/* .about__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
} */


.about__advantages {
    width: 100%;
    max-height: max-content;
    padding: 5rem 20rem;
    background: linear-gradient(to left, #3a71af, #3a71af, #EC5E23, #EC5E23, #111827, #111827);
}



.about__info-warranty, .about__info-advantages {
    display: block;
    font-size: 2rem;
    font-family: sans-serif;
    max-width: max-content;
    padding: 0.5rem;
    background: linear-gradient(to left, #649ddf, #3a71af);
    border-radius: 0.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.about__info-advantages {
    background: linear-gradient(to left, #e9936e, #EC5E23);
}

.about__subtitle, .about__examples-title {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #1A1A1A;
    text-align: center;
    text-transform: uppercase;
}

.about__list {
    list-style: none;
    padding-left: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    max-height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.about__list-item {
    font-size: 2rem;
    margin-bottom: 1.3rem;
    position: relative;
    color: #000000;
}

.item-advantag {
    width: 32rem;
    height: 35rem;
    box-sizing: border-box;
    /* width: 19rem; */
    /* height: 25.4rem; */
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    /* box-shadow: 1.2rem 1.7rem 5.1rem rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(0.6rem); */
    border-radius: 1.7rem;
    /* text-align: center; */
    /* cursor: pointer;
    transition: all 0.5s; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* user-select: none; */
    /* font-weight: bolder; */
    color: black;
    padding: 0rem 2rem;
    /* background-image: conic-gradient(#111827, #3a71af, #111827, #111827);
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
    background: linear-gradient(to right, #3a71af, #5995da); */
    position: relative;
    overflow: hidden;
    z-index: 5;
    --background: linear-gradient(to right, #74ebd5 0%, #acb6e5 100%);
    /* width: 190px;
    height: 254px; */
    /* padding: 5px; */
    border-radius: 1rem;
    overflow: visible;
    background: #74ebd5;
    background: var(--background);
    position: relative;
    z-index: 1;
}


.item-advantag__img {
    display: block;
    width: 50%;
    height: 40%;
    margin: 0 auto;
}


.item-advantag h3 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #111827;
    position: relative;
    z-index: 2;
}

.about__list-item span {
    font-weight: 600;
}

.about__list-item:before {
    content: "";
    display: block;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: linear-gradient(to top, #649ddf, #3a71af);
    transform: rotate(45deg);
    left: -2rem;
    top: 0.7rem;
}

.item-advantag::before,
.item-advantag::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
}

.item-advantag::before {
  background: linear-gradient(to bottom right, #111827 0%, #3a71af 100%);
  transform: rotate(2deg);
}

.item-advantag::after {
  background: linear-gradient(to top right, #84fab0 0%, #8fd3f4 100%);
  transform: rotate(-2deg);
}

.item-advantag:hover::before,
.item-advantag:hover::after {
  opacity: 0;
}


.about__list-item:last-child {
    margin-bottom: 0;
}

.about__warranty {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about__warranty-btn, .about__advantages-btn {
    max-width: max-content;
    max-height: max-content;
    padding: 1rem;
    background: linear-gradient(to top, #649ddf, #3a71af);
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    transition: all 0.5s;
    box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.12),  
    0 1px 0 rgba(255, 255, 255, 0.4) inset; 
}

.about__advantages-btn {
    background: linear-gradient(to left, #e9936e, #EC5E23);
}

.about__warranty-btn:hover, .about__advantages-btn:hover {
    background: linear-gradient(to top,#3a71af, #649ddf);
    box-shadow:
    0 3px 8px rgba(0, 0, 0, 0.18),
    0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.about__advantages-btn:hover {
    background: linear-gradient(to left, #EC5E23, #e9936e);
}

.prices__social {
    background: linear-gradient(to left, #e9936e, #EC5E23);
}



/* Стили для главной кнопки */

.about__proposal-left-plans-btn {
    font-size: 4rem;
    color: #ffffff;
    /* font-family: italic; */
    width: 100%;
    line-height: 2.5em;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid #ec5f2362;
    border-radius: 5rem;
    font-weight: 500;
    /* color: #000000; */
    position: relative;
    z-index: 5;
    padding: 3rem 0;
    box-shadow: 0 1rem 2rem #ec5f2379; 
    text-transform: uppercase; 
    /* background: #EC5E23; */
    /* transform: rotate3d(300, 1, 1, 327deg); */



}

.about__proposal-left-plans-btn::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(75deg,
    #EC5E23,
    #EC5E23,
    #3a71af,
    #3a71af,
    #EC5E23,
    #EC5E23,
    #3a71af,
    #EC5E23
  );


  filter: blur(5rem);
  background-size: 400% 400%;
  animation: glowingBackground 8s ease-in-out infinite;
  box-shadow: none;
  text-decoration: none;
  z-index: -1;
  transition: transform 0.5s ease;

}

.about__proposal-left-plans-btn:hover::before {
  animation: glowingBackground 0s ease-in-out infinite;
}

.about__proposal-left-plans-btn:hover {
  transition: transform 0.5s ease;
  transform: scale(1.02);
}






.about__social-title {
    margin-right: 1.5rem;
    color: #ffffff;
    text-transform: none;
}

.about__warranty-btn_small, .about__advantages-btn_small {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.about__offer-subtitle {
  color: #58f8c8;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  animation: fadeInUp 1.8s ease-out;
  position: relative;
  z-index: 5;
  width: max-content;
}





@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.emoji-pulse {
  animation: pulse 2s infinite ease-in-out;
  display: inline-block;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.3); opacity: 0.7; }
}


.about__benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 5rem;
  list-style: none;
  padding: 0;
  position: relative;
  z-index: 5;

}

.benefit-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  color: #23c453;
  font-size: 2.5rem;
  gap: 0.6rem;
  transition: transform 0.3s ease;
}

.benefit-item-icons-wrapper {
  display: flex;
}

.benefit-item i {
  font-size: 6rem;
  color: #EC5E23;
  margin-right: 2rem;
}

.benefit-item i:last-child {
  margin-right: 0rem;
}

.benefit-item:hover {
  transform: translateY(-2px);
}





.about__proposal {
  position: relative;
  overflow: hidden;
}




.brand-inline__proposal {
  position: absolute;
  bottom: 7rem;
  transform: rotate(-45deg);
  right: -11.5rem;
  padding: 0.6rem 10rem;
  background: linear-gradient(135deg,
    #040b14,
    #1e8d5f65,
    #040b14,
    #1e8d5f65,
    #040b14
  );



  background-size: 400% 400%;
  animation: glowingBackground 14s ease-in-out infinite;
  box-shadow: none;
  text-decoration: none;
}




.about__offer-subtitle-warning {
  color: #facc15; 
  font-weight: 600;
  background: rgba(250, 200, 21, 0.288);
  padding: 10rem 5rem;
  border-left: 0.2rem solid #facc15;
  animation: fadeInUp 0.6s ease-out;
  border-radius: 5rem;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(76, 221, 168, 0.25); 
  font-size: 2.5rem;
  text-align: center;
  
}

.about__offer-subtitle-warning i {
  color: #facc15;

}

.about__offer-subtitle-warning::before {
  background: radial-gradient(circle at top left, #c0a02050, #facc1562, transparent 90%);
}

@keyframes glowingBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
